.treeNode.sweet {
	background-image:linear-gradient(45deg, #f8a9ba 25%, #ffc6d2 0, #ffc6d2 50%, #f8a9ba 0, #f8a9ba 75%, #ffc6d2 0);
    background-position: 0px 0px, 4px 33px, 30px 29px, 34px 4px;
    background-size: 58px 58px;
	border: 4px solid;
	border-radius: 0%;
	border-color: rgba(0, 0, 0, 0.125);
	height: 50px;
	width: 298px;
	cursor: pointer;
}